site_name: Oikolab Blog
theme:
  name: material
  favicon: img/favicon_600.png
  logo: img/logo-white.svg
  features:
    - navigation.selections
  palette:
    primary: custom 
plugins:
  - meta
  - blog:
     blog_dir: .
     post_slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower  - search
     post_url_format: "{slug}"
  - tags
nav:
  - index.md
extra:
  homepage: https://oikolab.com
  generator: false
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/oikoweather
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/oikolab
extra_css:
  - stylesheets/extra.css
copyright: Copyright &copy; 2023 Oikolab Ltd.
markdown_extensions:
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
